#divError {
    display: none;
    color: red;
    position: absolute;
    bottom: 0;

}


input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#btn:focus {
    border: green 2px solid;
}

.active {
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 15px;
    position: absolute;
    padding: 15px;
    top: 55px;
}


.close {
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 10px;
    text-decoration: none;
    color: red;
}

#btn {
    padding: 10px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    outline: none;
    position: relative;
    margin-top: 100px;


}

.wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: center;


}

.box {
    display: flex;
    position: relative;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.priceValue {
    color: green;
    margin-left: 2px;
}